/* Fuentes */
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap"); /* JetBrains */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap"); /* Roboto */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap'); /* Pacifico */


/** General */
ul {
  list-style-type: none;
}

*{
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

#sobremi,
#proyectos,
#contacto,
#skills {
  color: white;
  font-size: 1.3em;
}

/** Títulos */

.title {
  align-items: left;
  font-size: 100px;
  font-family: ;
}

/** Fondo */
html {
  height: 100%;
  margin: 0;
  background: linear-gradient(
    45deg,
    #000000 0%,
    #333333 25%,
    #666666 50%,
    #999999 75%,
    #cccccc 100%
  );
  background-size: 400% 400%;
  height: auto;
  animation: gradientAnimation 40s ease-in-out infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

body {
  margin: 0 15%;
  background-color: rgba(0, 0, 0, 0); /* Color negro completamente opaco */
}

/** Logo */

header .navbar {
  padding-left: 30px;
}

#logo {
  width: 15%;
}

#logo img {
  width: 100%;
}



/** RRSS */

#rrss {
  padding-right: 30px;
}
#linkedin:hover {
  filter: drop-shadow(0px 0px 10px rgba(0, 119, 181, 0.8));
}

#github:hover {
  filter: drop-shadow(0px 0px 10px rgba(240, 240, 240, 0.8));
}

#twitter:hover {
  filter: drop-shadow(0px 0px 10px rgba(240, 240, 240, 0.8));
}

#correo:hover {
  filter: drop-shadow(0px 0px 10px rgba(253, 81, 81, 0.8));
}

#instagram:hover {
  filter: drop-shadow(0px 0px 10px rgba(221, 42, 123, 0.8));
}

#nav-link {
  overflow: hidden; /* Ocultar cualquier parte de la imagen que se extienda más allá del contenedor */
  transition: transform 10s ease-in-out; /* Efecto de transición suave */
  color: white;
}

a img:hover {
  transform: scale(
    1.3
  ); /* Escalar la imagen al 110% del tamaño original al pasar el cursor sobre ella */
}

/** Nav */
header {
  margin-bottom: ;
}

/** Presentación */

.hello {
  font-family: "Pacifico";
  width: 100%;
  text-align: right;
}

.hello span {
  font-family: "Pacifico";
  color: aquamarine;
}

#presentacion {
  padding: 10% 0;
  color: white;
  padding-top: 3%;
  padding-bottom: 4%;
}

/** Sección sobre mi */
.content {
  overflow: hidden; /* Esto es importante para que el texto fluya correctamente */
}

#me {
  max-width: 400px;
}

/** Sección proyectos */
#card-title {
  color: #000000;
}

/** Sección skills */

/** Footer */
footer {
  color: #ffffff;
  padding: 20px 0;
}

#gmail:hover {
  filter: drop-shadow(0px 0px 10px rgba(182, 53, 53, 0.8));
}
